/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: '../fonts/Baskerville.ttc';
}

/*////////// Global Styles //////////*/

* {
	padding: 0;
	margin: 0;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

#featured h2, #press h2 {
    color: rgb(111,127,122);
    font-size: 2em;
}
h2	{
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#featured img {
    border: 5px rgb(152,173,166) solid;
}

#press img {
    border: 5px #ccc solid;
    padding: 1px;
}

footer {
	text-align: right;
}

.small {
    font-size: 0.8em;
}